<ion-header>
  <ion-toolbar>
    <ion-title>Penjual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1b">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="tab2b">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="tab3b">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
